<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.daemontus.glucose">

    <application>
        <activity android:name="com.glucose.app.EmptyActivity"/>
        <activity android:name="com.glucose.app.LifecycleObservingActivity"/>
    </application>

</manifest>
